@model FridgeUI.Models.ViewModels.ProductUpdateViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(productModel => productModel.Id)
            <div class="form-group">
                <label asp-for="ProductForManipulateDto.Name" class="control-label"></label>
                <input asp-for="ProductForManipulateDto.Name" class="form-control" />
                <span asp-validation-for="ProductForManipulateDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductForManipulateDto.DefaultQuantity" class="control-label"></label>
                <input asp-for="ProductForManipulateDto.DefaultQuantity" class="form-control" />
                <span asp-validation-for="ProductForManipulateDto.DefaultQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductForManipulateDto.Image" class="control-label"></label>
                <input asp-for="ProductForManipulateDto.Image" class="form-control" accept="image/*" />
                <span asp-validation-for="ProductForManipulateDto.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
