@model FridgeUI.Models.Auth.RegisterModelDto

@{
    ViewData["Title"] = "Register";
}

<h1>Registration</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
        <p>
            Note that for demo purposes you don't need to register and can login with these credentials:
        </p>
        <p>
            User:     <b>user@example.com</b> OR <b>admin@example.com</b>
        </p>
        <p>
            Password: <b>password</b>
        </p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
